.container{
text-align: center;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}

.container .card .info-productos .desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.container .card{
    margin: 0;
}

.desc{
    padding: 20px 0 0 0;
    font-size: 18px;
}

.container .card .item{
    font-size: 20px;
}



.info-productos{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.button-icon{
    position: absolute;
    right: -328px;
    top: -193px;
    width: 30px;
} 

.icon{
    font-size:20px;
    color:red;
    width: 20px;
    height: 20px;
}

.container .compra-total{
    font-size: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


@media screen and (max-width: 600px) {


        .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container h1{
        margin: 40px 0 0 0;
    }
    .container .card{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    } 
    .container .card img{
        width: 300px;
    }

    .container .card .item{
        font-size: 20px;
    }


    .container .card .info-productos{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .card .info-productos .desc{
        font-size: 18px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .container .card .info-productos .button-icon{

        position: relative;
        left: 193px;
    }


}

@media (max-width: 480px){
    .container .card .info-productos .button-icon{
        position: relative;
        left: 293px;
        top: -493px;
        width: 20px;
    }

    .container .card .info-productos .button-icon .icon{
        display: flex;
        justify-content: center;
    }

    .icon{
        
        font-size:25px;
        color:red;
        width: 20px;
        height: 10px;
    
    }

}