.checkout{
display: flex;
justify-content: space-between;
margin: 50px;
}

.button{
  vertical-align: text-bottom; 
  margin: 30px;
}
.numOrden{

  margin: 5px;
  padding: 5px;
}


@media screen and (max-width:1020px) {
  form{
    width: 100%;
  }
}

@media screen and (max-width:600px) {
  form{
    width: 100%;
  }
  
}

@media screen and (max-width:480px) {
  form{
    width: 100%;
  }
  
}