.card{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    text-align: center;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.795);
    height: 100%;
}

.card .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 20px 0 0 0;
    width: 300px;
}
.content{
    height: 100%;
}

.card .content .card-body{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .content .card-body img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;

}

/*MEDIA QUERYS*/

@media screen and (max-width:1200px){

    .card .content{
        margin-bottom: 20px;
    }
}

@media screen and (max-width:1020px) {

    .card .content{
        margin-bottom: 20px;
    }

}


@media screen and (max-width: 600px) {
    .card{
        width: 100%;
        height: 100%;
        margin-top: 60px;
        margin-bottom: 0;
    }

    .card .content{
        width: 350px;
        justify-content: center;
        align-items: center;
    }

    /* .card .content .card-body img{
        width: 200px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
}